
body{
	font-family: 'Helvetica';
}
.clear{
	clear:both;
}
.page-break {
    page-break-after: always;
  }
.result{
	width:35%;
	margin-left:45%;
}
.result span{
	font-family: 'Helvetica';
	display: block;
	font-size: 12px;
	color: #000;
	line-height:15px;
}
.key{
	font-family:impact_labelregular;
	display:block;
	text-transform:uppercase;
	color:#000;
	font-size:35px;
	font-weight:bolder;
	margin:60px 0 0 30px;
}
.left-content{
	float:left;
	margin-right:1%;
	width: 35%;
}
.left-content p{
	font-size:13px;
	line-height:16px;
	color:#333;
	margin-top:0px;
}
.blank{
	margin-top: 70%;
	
}
.right-content{	
	float:left;
	width:55%;
}
.right-content .heading span{
	font-size:16px;
	color:#000;
	margin-left:50px;
	display:block;
}
.names ul{
	width:100%;
	float:left;
	margin:0px 0 20px 80px;
	padding:0px;
	list-style:none;
}
.names ul li{
	font-size:14px;
	line-height:20px;
	color:#333;
}
.names ul li{
	width:100%;
	float: left;
}
.content{
	width:130%;
	float: left;
}
.latest-post{
	width:130%;
	float:left;
}
.latest-post p{
	width:30%;
	word-wrap:break-word;
	min-height: 9.560em;
	font-size:15px;
	float:left;
	margin-left:20px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.latest-post .first{
	width:30%;
	font-size:15px;
	float:left;
	margin-left:0px;
	margin-top:30px;
	margin-bottom:20px;
}
.latest-post .second{
	width:30%;
	font-size:15px;
	float:left;
	margin-top:50px;
	margin-bottom:20px;
}
.posts{
	width:100%;
	height:auto;
}
.team-content{
	width:130%;
	float:left;
}
.team-left{
	width:44%;
	float:left;
	color:#333;
	margin-right:3%;
}
.team-left p{
	font-size:15px;
	line-height: 18px;
}
.team-right{
	width:45%;
	float:left;
	margin-left:0%;
}
.team-right p{
	font-size:15px;
	color:#333;
	line-height:18px;
}
.team-right span{
	display:block;
	font-size:15spx;
	margin:0px;
	color:#333;
}
.team-members{
	width:100%;
	float:left;
	margin:0 0 20px 0;
	padding:0px;
	list-style:none;
}
.team-members li{
	width:100%;
	float:left;
	font-size:15px;
	line-height:18px;
	color:#333;
}
.latest-p{
	width:100%;
	float:left;	
}
.latest-p p{
	word-wrap:break-word;
	font-size:15px;
	margin-left:30px;
}
.header_right{
	margin-top:80px;
}
.imgb{
	width:100%;
	float:left;
	margin-top:55px;
}

.result-right{
	width:125%;
	float:left;
	display: block;
	margin-top: -30px;
}
.result-right span{
	padding:5px;
	border-style:solid;
	border-width:1px;
	height:5px;
	line-height:5px; 
	display:block;
	font-size: 12px;
	color: #000;
	float: right;
}
.main-logo-distance{
	width:124%;
	float: left;
	margin-top:950px;
}
.main-logo{
	width:124%;
	float: left;
	margin-top:217px;
}
.logo{
	float: left;
	margin-left: 230px;
}
.logo.first{
	margin-left: 14px;
}
.logo.last{
	float: right;
	margin-right: 14px;
}
.main-logo-bottom{
	width:124%;
	float: left;
	margin:78px 0 0 0;
}
.logo-bottom{
	float: left;
	margin-left: 230px;
}
.logo-bottom.first{
	margin-left: 14px;
}
.logo-bottom.last{
	float: right;
}
.tweet-user-name{
	width:280px;
	float: left;
}

.dynamic-img img{
	width:770px;
	height:730px;
	
}
.dynamic-img{
	width:770px;
	height:730px;
	position: relative;
	
}
.full-page{
	width:110%;
	float: left;
}
.page-number{
	width:128%;
	text-align: right;
	float: left;
	top:116px;
	right:5px;
	left:30px;
	position:relative;
}
.page-number-second{
	width:98%;
	text-align: right;
	float: left;
	top:116px;
	right:5px;
	left:30px;
	position:relative;
}
.page-number-third{
	width:127%;
	text-align: right;
	float: left;
	top:116px;
	right:5px;
	left:30px;
	position:relative;
	font-size: 15px;
}
.vertical-text{
    -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);

    position: fixed;
    top:600px;
    left: 792px;
    line-height: 17px;
    font-size:15px;
    z-index: 1000;
    white-space: nowrap;
    letter-spacing: 0.5;
	
}
.vertical-text-second{
	 -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);
     position: fixed;
    top:1000px;
    left: 792px;
    line-height: 17px;
    font-size:15px;
    z-index: 1000;
    white-space: nowrap;
    letter-spacing: 0.5;
 }
 .vertical-text-four{
    -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);

    position: fixed;
    bottom:-500px;
    left: 792px;
    line-height: 17px;
    font-size:15px;
    z-index: 1000;
    white-space: nowrap;
    letter-spacing: 0.5;
	
}
.vertical-text-five{
	 -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);
     position: fixed;
    bottom:-1000px;
    left: 792px;
    line-height: 17px;
    font-size:15px;
    z-index: 1000;
    white-space: nowrap;
    letter-spacing: 0.5;
 }
.cover {
	width:100%;
	float:left;
	position:relative;
}
.circle{
	width: 420px;
	height: 420px;
    border-radius: 450px;
    -webkit-border-radius: 450px;
    position: absolute;
    top: 110px;
    left: 170px;
}
.small-circle{
	background: #fff;
	width: 20px;
	height: 20px;
	border: solid 2px #000;
    border-radius: 50px;
    -webkit-border-radius: 550px;
    position: absolute;
    top: 200px;
    left: 200px;
}
.small-img img{
	width:45px;
	height: 45px;
	position: absolute;
	border:solid 2px #000;	
}
.distance{
	background: #fff;
	width:150px;
	height: 20px;
	border:solid 2px #000;
	position: absolute;
	bottom:79px;
	left:280px;
}
.distance span{
	font-size: 14px;
	border-left:solid 2px #000;
	display: inline-block;
	padding:0 3px;
	height: 20px;
	line-height: 20px;
	float: right;
}
.text-area{
	background: #fff;
	width: 250px;
	padding:3px 10px;
	position: absolute;
	bottom:20px;
	left:280px;
	border:solid 2px #000;
}
.text-area p{
	font-size: 14px;
	color: #000;
	margin:5px 0;
}
